@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'font.css';
@import 'hero.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --primary: #1a1a1a;
  --secondary: #bababa;
  --white: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'NeueMontreal-Regular', sans-serif;
  color: var(--primary);
  background: white;
  min-height: 100vh;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 100vh;
}
